body {
  margin: 0;
  background: url("/bg.png") repeat;
}

nav {
  background: rgba(200,200,200,0.5);
  border-bottom: solid 1px black;
  padding: 5px 5px 5px 5px;
  overflow: hidden;
}
nav ul {
  margin: 0;
  list-style: none;
}
nav li {
  float: left;
  margin-right: 3px;
}

#content {
  padding: 10px 10px 10px 10px;
  max-width: 970px;
  width: 100%;
  background: rgba(200,200,200,0.5);
  margin: 0 auto;
  min-height: 100%;
  border: 1px solid black;
  border-top: none;
}

.question {
  margin-top: 0.5em;
  background: rgba(200,200,200,0.5);
  border: 1px solid black;
}
